.bg-dark {
    background-color: var(--bg-dark);
}
.main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 124px 0;
}
.main-heading h1 {
    color: var(--color-white);
    text-shadow: var(--shadow-light);
    font-size: 64px;
    font-weight: var(--font-bold);
    line-height: normal;
    letter-spacing: -0.64px;
}
.core-value-hero {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 100px 0 70px 0;
}
.core-left {
    width: 40%;
}
.core-left h1 {
    color: var(--bg-dark);
    font-size: 30px;
    font-weight: var(--font-bold);
    line-height: 32px; 
    letter-spacing: -0.3px;
}
.core-left p {
    color: var(--color-text);
    font-size: 16px;
    font-weight: var(--font-normal);
    line-height: 24px; 
    letter-spacing: -0.16px;
    padding: 4px 0 17px 0;
}

.download-tab-main  {
    display: flex;
    text-align: center;
    padding: 12px;
    width: fit-content;
    background-color: var(--bg-dark-accent);
    border-radius: var(--radius-md);
    font-weight: var(--font-bold);
    color: #f5f5f5;
    font-size: 16px;
    font-family: var(--font-tertiary);
    transition: 0.5s;
}
.download-tab-main:hover {
    background-color: var(--color-text) !important;
}
.our-values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}
.our-values h2 {
    font-size: 16px;
    font-weight: var(--font-bold);
    color: var(--color-text);
    font-family: var(--font-tertiary);
    padding: 8px 0 0 0;
}
.icon-main {
    position: relative;
}
.icon-main .icon {
    position: absolute;
}
.icon-circle {
    left: 48%;
    transform: translateX(-48%);
}
.icon-location {
    bottom: 0;
}
.core-right h1 {
    color: var(--bg-dark);
    font-size: 25px;
    font-weight: var(--font-bold);
    line-height: normal;
    letter-spacing: -0.25px;
    padding: 0 0 15px 0;
}
.color-muted {
    background-color: var(--color-muted);
}
.our-story-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 112px 50px 50px 50px;
}
.personal-img {
    width: 542px;
    height: 516px;
    margin: 0 0 28px 0;
}
.personal-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.stroy-left {
    width: 41%;
}
.stroy-left h1 {
    color: var(--bg-dark);
    text-align: center;
    font-size: 33px;
    font-weight: var(--font-bold);
    line-height: normal;
    letter-spacing: -0.33px;
}
.story-desc {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0 0 0;
}
.story-desc p {
    color: var(--color-text);
    font-size: 16px;
    font-weight: var(--font-normal);
    line-height: 24px; 
    letter-spacing: -0.16px;
}
.stroy-right h2 {
    color: var(--color-text);
    text-align: center;
    font-size: 20px;
    font-weight: var(--font-bold);
    line-height: 24px;
    letter-spacing: 3px;
}
.founder{
    font-style: italic;
}
.mission {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
}
.mission-right,
.mission-left {
    width: 45%;
}
.mission-left h2 {
    color: var(--color-text);
    font-size: 24px;
    font-weight: var(--font-bold);
    line-height: 24px; 
    letter-spacing: -0.24px;
    padding: 4px 0 15px 0;
}
.mission-left p {
    color: var(--color-text);
    font-size: 16px;
    font-weight: var(--font-normal);
    line-height: 24px; 
    letter-spacing: -0.16px;
}
.why-imart {
    margin: 24px 0 50px 0;
}
.mission-info p {
    width: 77%;
}
/* Responsive */
@media (max-width: 1050px) {
    .our-story-main,
    .core-value-hero {
        flex-direction: column-reverse;
        width: 100%;
    }
    .mission-right,
    .mission-left,
    .stroy-left,
    .core-left {
        width: 100%;
    }
    .our-story-main,
    .core-value-hero {
        padding: 50px 0;
        gap: 50px;
    }
    .mission {
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
    }
    .imart-promo-cards {
        padding: 50px 0;
    }
    .contact-box {
        margin: 0 auto;
    }
    .mission-info p {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .core-left h1{
        font-size: 24px;
    }
    .personal-img {
        height: auto;
        width: auto;
    }
    .contact-box {
        width: 100%;
    }
    .promo-card-two .imart-btn-light {
        margin: 44px auto 0 auto;
    }
    .main-heading h1 {
        font-size: 50px;
    }
    .core-right h1 {
        font-size: 22px;
        padding: 0 0 30px 0;
    }
    .our-values h2 {
        font-size: 13px;
    }
    .core-left p {
        font-size: 14px;
    }
    .mission {
        padding: 50px 0;
    }
}
@media (max-width: 400px) {
    .imart-card p {
        padding: 20px 0;
    }
}
@media (max-width: 330px) {
    .core-left h1 {
        font-size: 20px;
    }
}