.imart-footer {
    background-color: #1c4507;
    padding: 80px;
}

.imart-footer-container {
    display: flex;
    gap: 100px;
}
.ft-right{
    display: flex;
        width: -webkit-fill-available;
    justify-content: space-around;
}
.imart-footer-center ul li:last-child{
    margin: 0;
}
.imart-footer-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: end;
}
.imart-footer-left p {
    color: #eeeeee;
    font-size: 25px;
    font-family: var(--font-urbanist);
    font-weight: 400;
    line-height: normal;
}
.imart-footer-logo {
    height: 100%;
    width: 100%;
}
.imart-footer-left a{
    height: 184px;
    display: inline-block;
    margin-bottom: 10px;

}
.imart-newsletter-box {
    display: flex;
    width: 550px;
    height: 74px;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.imart-newsletter-box input {
    color: #253d4e;
    font-size: 20px;
    font-family: var(--font-quicksand);
    font-weight: 500;
    line-height: normal;
    flex: 1;
    outline: none;
    border: none;
}

.imart-newsletter-box button {
    padding: 15px 20px;
    background: var(--color-secondary);
    color: var(--color-white);
    font-family: var(--font-urbanist);
    font-size: 24px;
    font-weight: 800;
    line-height: 24px; /* 100% */
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.imart-footer-center ul {
    list-style: none;
}

.imart-footer-center ul li {
    margin-bottom: 25px;
}

.imart-footer-center a {
    color: #eeeeee;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.imart-footer-right p a,
.imart-footer-right p {
    color: #eeeeee;
    font-family: var(--font-urbanist);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.imart-social-icons a {
    padding: 8px;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.imart-social-icons {
    display: flex;
    gap: 60px;
}
.imart-social-icons img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 1050px) {
    .imart-footer {
        padding: 50px 0;
    }

    .imart-footer-center ul li:last-child {
        margin: 0;
    }
    .ft-right,
    .imart-footer-container{
        flex-direction: column;
    }
    .ft-right{
        align-items: self-start;
    }
    .imart-footer-center {
    width: 100%;
}
.imart-footer-left a{
    width: 180px;
    margin: 0 0 0 -35px;
}
  .imart-footer-right{
        gap: 25px;
        margin: 50px 0 0 0;
    }
        .imart-footer-center ul {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }
  
       .imart-footer-center ul li{
        margin: 0;
    }
        .imart-footer-center ul li {
        margin: 0;
    }
    .imart-footer-center ul {
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .imart-footer-container {
        flex-direction: column;
        gap: 50px;
    }
    .imart-newsletter-box {
        width: 80%;
    }

}
@media (max-width: 638px) {
    .imart-newsletter-box {
        width: 100%;
    }
    .imart-newsletter-box input {
        font-size: 16px;
        width: 50%;
    }
    .imart-footer-left p {
        font-size: 20px;
    }
    .imart-footer-center a,
    .imart-newsletter-box button {
        font-size: 18px;
    }

 
}
@media (max-width: 380px) {
    .imart-newsletter-box button {
        padding: 10px;
    }
    .imart-footer-center a,
    .imart-newsletter-box button {
        font-size: 16px;
    }
    .imart-footer-right p a, .imart-footer-right p {
        font-size: 16px;
    }
}
