.merchant-bg {
    background-color: var(--bg-dark);
}
.merchant-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.merc-left {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.merc-left h1 {
    color: var(--color-white);
    text-shadow: var(--shadow-light);
    font-size: 64px;
    font-weight: var(--font-bold);
    letter-spacing: -0.64px;
}
.merc-left p {
    color: var(--color-accent);
    text-shadow: var(--shadow-light);
    font-size: 20px;
    font-weight: var(--font-normal);
    letter-spacing: -0.2px;
    margin: 18px 0;
    width: 66%;
}
.shopping-section a,
.merc-left a {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    background: var(--color-secondary);
    padding: 16px 31px;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: var(--font-bold);
    gap: 9px;
}
.merc-right {
    width: 18%;
    padding: 20px 0;
}
.merc-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.shopping-section h1 {
    font-size: 40px;
    text-decoration: underline;
}
.shopping-section {
    padding: 67px 0 95px 0;
}
.steps-cards-main {
    margin: 66px 0 58px 0;
}
.steps-cards-main p {
    margin: 29px 0 0 0;
}
.shopping-section a {
    font-size: 24px;
    padding: 18px 46px;
    margin: auto;
}
.love-imart h1 {
    font-size: 40px;
    font-family: var(--font-secondary);
}
.notes {
    width: 64%;
}
.notes-5 {
    background: var(--color-white);
    margin-right: auto;
    margin-left: 100px;
}
.download-btn {
    font-size: 24px;
    font-weight: var(--font-bold);
    font-family: var(--font-secondary);
    margin: 68px auto 0 auto;
}
.love-imart {
    padding: 72px 0 36px 0;
}
.faq-heading {
    padding: 85px 0 0 40px;
}
@media (max-width: 1080px) {
    .merc-left p {
        font-size: 18px;
    }
    .merc-left h1 {
        font-size: 42px;
    }
    .notes {
        width: 100%;
    }
    .notes-5 {
        margin-left: 0;
    }
    .faq-heading {
        padding: 50px 40px 0 40px;
    }
    .steps-cards-main{
        margin: 30px 0;
    }
    .partner-main, .steps-cards-main{
        gap: 30px;
    }
}
@media (max-width: 800px) {
    .faq-heading {
        padding: 50px 0 0 0;
    }
    .merc-left {
        width: 74%;
    }
}
@media (max-width: 800px) {
    .main-heading h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .merc-left p,
    .merc-left {
        width: 100%;
    }
    .merc-right {
        display: none;
    }
    .merchant-bg {
        padding: 50px 0;
    }
}
@media (max-width: 600px) {
    .merchant-main {
        flex-direction: column;
    }
    .main-heading h1 {
        font-size: 50px;
        text-align: center;
    }
    .contact-box {
        width: 100%;
    }
    .promo-card-two .imart-btn-light {
        margin: 44px auto 0 auto;
    }
    .terms-info p,
    .terms-info ul li,
    .terms-info ol li {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .imart-card p {
        padding: 20px 0;
    }
    .shopping-section a {
    font-size: 18px;
    padding: 18px;
}
.steps-cards-main svg{
    width: 19px;
    height: 14px 24px;
}
}
