.container-terms {
    width: 100%;
    max-width: 1088px;
    margin: 0 auto;
}
.bg-dark {
    background-color: var(--bg-dark);
}
.main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 124px 0;
}
.main-heading h1 {
    color: var(--color-white);
    text-shadow: 0 2px 2px var(--color-text);
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
}
.terms-info {
    padding: 86px 0 140px 0;
}
.terms-info p,
.terms-info ul li,
.terms-info ol li {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.16px;
    line-height: 24px;
}
.terms-info h3 {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin: 16px 0 0 0;
}
.terms-info ul {
    list-style-type: disc;
}
.terms-info ul {
    padding: 0 24px;
}
.last-update {
    margin: 16px 0 0 0;
}
@media (max-width: 1100px) {
    .container-terms {
        max-width: 100%;
        padding: 0 20px;
    }
}
@media (max-width: 800px) {
    .main-heading h1 {
        font-size: 50px;
        line-height: 60px;
    }
}
@media (max-width: 600px) {
    .main-heading h1 {
        font-size: 50px;
        text-align: center;
    }
    .contact-box {
        width: 100%;
    }
    .imart-card h2 {
        font-size: 30px;
    }
    .promo-card-two .imart-btn-light {
        margin: 44px auto 0 auto;
    }
    .terms-info p,
    .terms-info ul li,
    .terms-info ol li {
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .imart-card p {
        padding: 20px 0;
    }
    .imart-card h2 {
        font-size: 20px;
    }
}
