.bg-dark {
    background-color: var(--bg-dark);
    padding: 50px;
    height: 641px;
    width: 100%;
    overflow: hidden;
}
.section-money .money-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.money-text {
    width: 40%;
    text-align: left; 
}
.money-text h2 {
    color: var(--color-white);
    text-shadow: var(--shadow-light);
    font-size: clamp(32px, 6vw, 100px);
    font-weight: var(--font-bold);
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
}
.money-image {
    width: 60%;
    background-image: url("../assets/riders.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.bg-light {
    padding: 85px 0 140px 0;
    background-color: var(--bg-light);
}
.what-is-mart-main {
    display: flex;
    justify-content: space-between;
}
.mart-is-rght {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    width: 80%;
    z-index: 111;
}
.mart-is-lft {
    position: relative;
}
.mart-is-lft img {
    position: absolute;
    top: -182px;
}
.mart-is-rght h1 {
    color: var(--bg-dark);
    text-align: center;
    font-size: 33px;
    font-weight: var(--font-bold);
    line-height: normal;
    text-decoration-line: underline;
}
.mart-is-rght p {
    color: var(--color-text);
    text-align: center;
    font-size: 18px;
    font-weight: var(--font-normal);
    line-height: 25px;
    width: 80%;
    margin: 0 auto; 
}
.btn-group2 {
    gap: 62px;
}
.btn-group2 a {
    width: 34%;
}
.shopping-section {
    padding: 76px 0;
}
.shopping-section h1 {
    color: var(--bg-dark);
    font-size: 33px;
    font-weight: var(--font-bold);
    text-decoration-line: underline;
}
.step-card img{
    height: 226px;
}
.shopping-section .subtitle {
    padding: 29px 0 0 0;
    width: 40%;
    margin: 0 auto;
}
.steps-cards-main p {
    font-size: 20px;
    margin: 17px auto 0 auto;
    width: 95%;
}
.steps-cards-main h2 {
    color: var(--bg-dark);
}
.join-section {
    background-image: url("../assets/join.png");
    background-size: cover;
    background-position: center;
    padding: 150px 50px;
}
.join-info h1 {
    color: var(--color-text);
    font-size: 33px;
    font-weight: var(--font-bold);
    line-height: normal;
}
.benefits-list {
    margin: 22px 0;
}
.benefits-list li {
    color: var(--color-text);
    font-size: 20px;
    font-weight: var(--font-normal);
    line-height: 44px;
    list-style-type: disc;
}
.join-info a {
    display: inline-block;
    border-radius: 100px;
    background: var(--color-secondary);
    padding: 20px 78px;
    color: var(--color-text);
    font-size: 25px;
    font-weight: var(--font-bold);
    line-height: 24px; 
    width: fit-content;
    margin: 0 0 0 74px;
    transition: background-color 0.3s ease;
}
.join-info a:hover {
    background-color: #e37415;
}
.require-sec {
    background-color: #d9d9d9;
    padding: 78px 0 24px 0;
}
.requirement-list {
    color: var(--color-text);
    font-size: 20px;
    font-weight: var(--font-normal);
    line-height: 44px;
    list-style-type: disc;
    padding-left: 20px;
}
.req-main {
    display: flex;
    align-items: center;
}
.req-main h1 {
    color: var(--color-text);
    font-size: 33px;
    font-weight: var(--font-bold);
    padding: 0 0 28px 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;
    margin: 50px 0 100px 0;
}
.center a {
    width: 320px;
    overflow: hidden;
}
.center a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gridiant-hero {
    background: linear-gradient(180deg, #e0e5b6 0%, #fe8d27 100%);
    position: relative;
    height: 625px;
    padding: 26px 0;
    overflow: hidden;
}
.center-go {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}
.ready-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 2;
    height: 100%;
}
.ready-left {
    text-align: center;
}
.ready-left h1 {
    color: var(--color-text);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-weight: var(--font-bold);
    letter-spacing: -0.35px;
    margin-bottom: 10px;
}
.ready-left h2 {
    color: var(--bg-light);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 33px;
    font-weight: var(--font-bold);
    letter-spacing: -0.33px;
}
.ready-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ready-right a {
    width: 330px;
    margin: 20px 0;
}
.ready-right a img {
    width: 100%;
    object-fit: contain;
}
.ready-inner {
    height: 100%;
}
.btn-group{
    gap: 154px;
}
.btn-group a {
    width: 30%;
}.btn-group a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@media (max-width: 1180px){
    .bg-light{
        padding: 50px 0;
    }
        .bg-dark{
        padding: 50px 0;
        height: auto;
    }
    .shopping-section .subtitle,
    .mart-is-rght p{
        width: 100%;
    }
    .btn-group a {
    width: 40%;
    }
    .section-money .money-wrapper {
        flex-direction: column;
        gap: 20px;
    }
    .money-text,
    .money-image {
        width: 100%;
        text-align: center;
    }
    .money-image {
        height: 250px;
    }
    .btn-group{
        gap: 60px;
    }
}
@media (max-width: 1080px) {
    .mart-is-rght {
        width: 60%;
    }
    .ready-main {
        justify-content: space-between;
    }
}
@media (max-width: 950px) {
    .ready-main {
        align-items: center;
        flex-direction: column;
    }
    .center-go {
        display: none;
    }
    .mart-is-lft img {
        width: 350px;
    }
    .mart-is-rght {
        width: 100%;
    }
    .req-main {
        flex-direction: column;
    }
    .center a {
        width: 34%;
    }
    .ready-right a {
        width: 200px;
    }

    .gridiant-hero {
        height: auto;
        padding: 40px 0;
    }
    .section-money .money-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .money-text h2 {
        font-size: 42px;
    }
}
@media (max-width: 600px) {
    .partner-main, .steps-cards-main,
    .mart-is-rght{
        gap: 30px;
    }
    .shopping-section{
        padding: 50px 0;
    }
    .shopping-section h1{
        font-size: 30px;
    }
    .mart-is-lft img {
        display: none;
    }
    .join-info h1,
    .req-main h1 {
        font-size: 20px;
    }
    .benefits-list li,
    .requirement-list {
        font-size: 18px;
    }
    .center {
        margin: 50px 0;
        gap: 30px;
    }

    .btn-group2 {
        gap: 30px;
    }
    .btn-group a,
    .center a {
        width: 50%;
    }
    .join-section {
        padding: 50px 0;
    }
    .ready-left h2,
    .ready-left h1 {
        font-size: 30px;
    }
    .join-info a {
        font-size: 20px;
        margin: auto;
    }
        .money-image {
        height: 200px;
    }
    .steps-cards-main p{
        margin: 0 ;
        width: 100%;
        font-size: 18px;
    }
}
@media (max-width: 380px){
    .step-card img {
        width: 226px;
    }
    .join-info a{
        padding: 15px 40px;
    }
     .mart-is-rght h1,
     .shopping-section h1{
        font-size: 22px;
     }
    .steps-cards-main h2,
    .ready-left h2, .ready-left h1,
    .join-info h1, .req-main h1{
        font-size: 18px;
        line-height: 33px;
    }
    .join-info a,
    .benefits-list li, .requirement-list,
    .shopping-section .subtitle,
    .download-tab-main,
    .mart-is-rght p{
        font-size: 16px;
        line-height: 35px;
    }
    
}
@media (max-width: 330px){
    .join-info h1,
    .ready-left h2, .ready-left h1{
        font-size: 16px;
        line-height: 33px;
    }
}