@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Quicksand:wght@300..700&family=Urbanist:wght@100..900&family=Poppins:wght@100..900&display=swap");

:root {
    /* Font Families */
    --font-primary: "Josefin Sans", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-tertiary: "Inter", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    /* Brand Colors */
    --color-primary: #15ff00;
    --color-secondary: #fe8d27;
    --color-accent: #ffd65a;
    --color-highlight: #4de9e2;
    --color-muted: #c5ead9c7;

    /* Text Colors */
    --color-white: #ffffff;
    --color-text: #000000;

    /* Backgrounds */
    --bg-light: #fafafa;
    --bg-light-alt: #e0e5b6;
    --bg-dark-accent: #1c4606e5;
    --bg-dark: #1c4606;

    /* Borders */
    --border-light: #cfcfcf;

    /* Border Radius */
    --radius-md: 8px;

    /* Shadows */
    --shadow-strong: 0px 4px 4px #000000e3;
}
/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
/* Global Styles */
body {
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
}
input,
textarea {
    outline: none;
    border: none;
    background-color: transparent;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-section {
    background-image: url("../assets/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 170px 0 260px;
    justify-content: center;
    position: relative;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-text);
    opacity: 0.4;
}
.hero-content {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}
.hero-content h1 {
    font-family: var(--font-secondary);
    font-size: 64px;
    line-height: normal;
    letter-spacing: -0.64px;
    font-weight: 700;
    text-shadow: var(--shadow-strong);
}
.hero-content p {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-primary);
    line-height: 23px;
    padding: 17px 0 0 0;
}
.shopping-section {
    text-align: center;
    padding: 40px 0;
}
.shopping-section h1 {
    color: var(--color-text);
    font-size: 33px;
    font-weight: 700;
    line-height: normal;
}
.shopping-section .subtitle {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px; /* 127.778% */
    padding: 8px 0 0 0;
}
.steps-cards-main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 60px auto 47px auto;
    gap: 40px;
}
.step-card {
    width: 28%;
}
.step-card img {
    height: 198px;
    padding: 10px 0 0 0;
}
.steps-cards-main h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
}
.steps-cards-main .orange-text {
    color: var(--color-secondary);
}
.steps-cards-main .green-text {
    color: var(--bg-dark-accent);
}
.steps-cards-main .black-text {
    color: var(--color-text);
}
.steps-cards-main p {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.18px;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.btn-group a {
    display: inline-block;
    width: 30%;
}
.btn-group a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.love-imart {
    height: 652px;
    background-image: url("../assets/love-imart.png");
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 64px 0;
}
.love-imart h1 {
    color: var(--color-white);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    line-height: 48px; /* 145.455% */
    padding: 0 0 72px 0;
}
.notes-wrapper {
    padding: 0 132px;
}
.notes-main {
    height: 43px;
    padding: 0 30px;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    border-radius: 30px;
    width: fit-content;
    margin: 0 0 20px 0;
}

.notes-main strong {
    font-weight: 700;
}

.notes-1 {
    background: #f5f5f5;
    margin-right: auto;
}

.notes-2 {
    background: var(--color-accent);
    margin-left: auto;
}

.notes-3 {
    background: var(--color-highlight);
    margin-right: auto;
    margin-left: 60px;
}

.notes-4 {
    background: var(--bg-light-alt);
    margin-left: auto;
}
.download-btn {
    display: flex;
    width: 215px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--color-accent);
    color: var(--color-text);
    font-size: 25px;
    font-weight: 700;
    line-height: 24px; /* 96% */
    margin: 80px auto 0 auto;
    transition: background-color 0.3s ease;
}
.partner-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 47px 0;
}
.partner-card h2 {
    color: var(--color-text);
    font-size: 33px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.33px;
}
.partner-card p {
    color: var(--color-text);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    letter-spacing: -0.18px;
}
.partner-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    width: 209px;
    height: 46px;
    padding: 14px;
    border-radius: 5px;
    background: var(--bg-dark);
    margin: 35px auto;
    transition: background-color 0.3s ease;
}
.partner-card {
    width: 33%;
}

.grow {
    width: 340px;
    height: 284px;
    margin: 0 auto;
}
.grow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.orange-bg {
    background-color: var(--color-secondary) !important;
}
.submit-btn,
.shopping-section a, .merc-left a{
    transition: background-color 0.3s ease;
}
.imart-newsletter-box button:hover,
.merc-left a:hover,
.talk-btn:hover,
.shop-icon-container:hover,
.orange-bg:hover{
    background-color: #e37415 !important;
}
.download-btn:hover{
    background-color: #e6bc38;
}
.green-btn:hover,
.submit-btn:hover,
.imart-btn:hover{
    background-color: var(--color-text);
}
.promo-card-two .imart-btn-light:hover,
.imart-btn-light2:hover,
.imart-btn-light:hover{
    background-color: #e5e7eb;
}
.yellow-bg {
    background-color: var(--color-accent);
    height: 700px;
    position: relative;
}
.corner-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.orange-hero {
    background: linear-gradient(180deg, #fe8d27 81.13%, #ffe8a3 100%);
    padding: 80px 64px;
    height: 725px;
    position: absolute;
    top: -25px;
    left: 51px;
    right: 51px;
}
.orange-hero h1 {
    color: var(--color-text);
    font-size: 33px;
    font-weight: 700;
    line-height: 25px; /* 75.758% */
    letter-spacing: -0.33px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 80px 0;
}

.card-box {
    background-color: var(--bg-light);
    border-radius: var(--radius-md);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 32px;
    font-family: var(--font-tertiary);
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.card-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-name {
    font-weight: 600;
    font-size: 16px;
    color: #757575;
    font-family: var(--font-tertiary);
}
.experience-main {
    padding: 96px 0 0 0;
    text-align: center;
}
.experience-main h1 {
    color: var(--bg-dark);
    font-size: 33px;
    font-weight: 700;
    line-height: 120%; /* 39.6px */
    letter-spacing: -0.66px;
}
.experience-main p {
    color: var(--color-text);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    letter-spacing: -0.18px;
    width: 50%;
    padding: 9px 0;
    margin: 0 auto;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin: 46px auto 0 auto;
}

.faq-left {
    width: 751px;
    flex: 0 0 auto; /* Prevent shrinking or growing */
}

.faq-right {
    width: 401px;
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
}

.faq-heading {
    color: var(--color-text);
    font-size: 60px;
    font-weight: 700;
    line-height: 76px; /* 126.667% */
    letter-spacing: -1.8px;
}

.faq-item {
    border-radius: 10px;
    border: 1px solid var(--border-light);
    margin-bottom: 20px;
    overflow: hidden;
}
.dropdown-item-active {
    background-color: #355823 !important;
}
.dropdown-item-active a {
    color: var(--color-white) !important;
}
.faq-question {
    width: 100%;
    text-align: left;
    padding: 20px;
    font-family: var(--font-manrope);
    background: var(--color-white);
    font-size: 22px;
    font-weight: 800;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    padding: 0 20px 20px;
}
.faq-answer p {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 31px; /* 193.75% */
    letter-spacing: -0.32px;
    font-family: var(--font-manrope);
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 24px;
    border: 1px solid var(--border-light);
    background: var(--color-white);
    padding: 32px;
    text-align: center;
    width: 100%;
    height: 393px;
}

.icon-box {
    width: 67px;
}
.icon-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contact-box h3 {
    color: var(--color-text);
    font-family: var(--font-manrope);

    font-size: 22px;
    font-weight: 800;
    line-height: 22px; /* 100% */
}

.contact-box p {
    color: var(--color-text);
    font-family: var(--font-manrope);

    font-size: 16px;
    font-weight: 600;
    line-height: 31px; /* 193.75% */
    letter-spacing: -0.32px;
}

.talk-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-secondary);
    height: 67px;
    border: none;
    width: 100%;
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 700;
    line-height: 31px; /* 172.222% */
    letter-spacing: -0.36px;
    transition: background-color 0.3s ease;
}

.imart-promo-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 84px 33px 33px 33px;
    justify-content: center;
}

.imart-card {
    flex: 0 0 446px;
    max-width: 446px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    min-height: 540px;
}

.promo-card-one {
    background: var(--color-muted);
}

.promo-card-two {
    border-radius: 10px;
    background: rgba(28, 70, 6, 0.9);
    color: var(--color-white);
    text-align: center;
}

.promo-card-three {
    background: var(--color-secondary);
}
.promo-card-three h2 {
    color: var(--color-white) !important;
}
.imart-card h2 {
    color: var(--color-text);
    font-size: 33px;
    text-align: left;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.33px;
}

.imart-card p {
    color: var(--color-text);
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.17px;
    width: 90%;
    padding: 40px 0;
}

.imart-btn {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;
    border-radius: 5px;
    background: var(--bg-dark);
    color: var(--color-white);
    padding: 18px;
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.imart-btn-light {
    color: #161b20;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px; /* 100% */
    border-radius: 100px;
    background: var(--color-white);
    margin: 58px auto 0 auto;
    transition: background-color 0.3s ease;
}
.imart-btn-light2 {
    margin: 20px 0 0 0;
    color: #161b20;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px; /* 100% */
    border-radius: 100px;
    background: var(--color-white);
    position: relative;
    z-index: 1;
}
.imart-badge {
    background: var(--bg-dark-accent);
    color: var(--color-white);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.promo-card-two h2 {
    color: var(--color-white);
    text-align: center;
    font-size: 33px;
    font-weight: 400;
    line-height: 48px; /* 145.455% */
}
.imart-card-img1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.imart-card-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Responsive */
@media (max-width: 1024px) {
    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 998px) {
    .notes-main {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .notes-wrapper {
        padding: 0 50px;
    }
}
@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        padding: 20px;
    }

    .faq-left,
    .faq-right {
        flex: 1 1 100%;
    }
    .imart-promo-cards {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .cards-wrapper {
        grid-template-columns: 1fr;
    }
}
